<IfModule mod_rewrite.c>
    RewriteEngine  on
#	Uncomment this if mod_rewrites are not working for you. some hosting services have cranky mod_rewrite
#    RewriteBase     /groups/
    RewriteCond %{SCRIPT_FILENAME}  -f [OR]
    RewriteCond %{SCRIPT_FILENAME}/index.php    -f
    RewriteRule ^(.*)$            - [L]

    RewriteRule ^(.*)/about$  about.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/files$  files.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/manage$  manage.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/members$  members.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/settings$  edit.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/tasks$  tasks.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/theme$  theme.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)/join$  join.php?group_name=$1  [L,QSA]
    RewriteRule ^(.*)$       index.php?group_name=$1  [L,QSA]
</IfModule>
